{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - iblog Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'path/to/swiper-bundle.min.css' %}">
  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

</head>

<body class="index-page">

  <header id="header" class="header d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="{% static 'img/profile.jpeg' %}" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="{% static 'img/logo.png' %}" alt=""> -->
      <h1 class="sitename">Atharva Bangle</h1>
    </a>

    <div class="social-links text-center">
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/in/atharva-bangle/" class="linkedin"><i class="bi bi-linkedin"></i></a>
      <a href="https://github.com/Abros3006" class="github"><i class="bi bi-github"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">
            <i class="bi bi-house navicon"></i>Home
          </a>
        </li>
        <li>
          <a href="{% url 'blog' %}" class="{% if request.path == '/blog/' %}active{% endif %}">
            <i class="bi bi-file-earmark-text navicon"></i>Blog
          </a>
        </li>
        <li>
          <li>
            <a href="{% url 'snapshots' %}" class="{% if request.path == '/snapshots/' %}active{% endif %}">
              <i class="bi bi-house navicon"></i>Snapshots
            </a>
          </li>
        <li>
          <a href="#contact">
            <i class="bi bi-envelope navicon"></i>Contact
          </a>
        </li>
        <li>
          <a href="{% url 'resume' %}" class="{% if request.path == '/resume/' %}active{% endif %}">
            <i class="bi bi-file-person navicon"></i>Resume
          </a>
        </li>
      </ul>
    </nav>
    

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="{% static 'img/Main.jpg' %}" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Atharva Bangle</h2>
        <p>I'm <span class="typed" data-typed-items="Abros3006, Developer, Physicist, Chess Player"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section>
    <!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>I am passionate about computer programming, physics, and chess. I have developed multiple projects using JavaScript and Python and their respective frameworks and libraries. I am eager to learn more about the latest technologies and trends in the field and apply them to real-world problems. My goal is to become a full-stack developer and create innovative and impactful solutions.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="{% static 'img/profile.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 content">
            <h2>Full-Stack Developer</h2>
            <p class="fst-italic py-3">
              Passionate and dedicated software developer with a strong foundation in computer science and hands-on experience in Full-Stack development.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>30 June 2002</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Pune, India</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master in Computer Application</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>atharvabangle@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p class="py-3">
              Looking for opportunities to leverage my expertise in Python and Django and to grow as a full-stack developer in a dynamic and innovative team environment.
            </p>
          </div>
        </div>

      </div>

    </section>
    <!-- /About Section -->

    <section id="blog" class="blog section">

      <section id="blog" class="blog section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Blog</h2>
          <p>Welcome to my blog! Here, you'll find a collection of posts covering a wide range of topics, from everyday musings and personal experiences to travel adventures and hobbies. Whether you're looking for inspiration, entertainment, or just a good read, I hope you find something that resonates with you.</p>
        </div><!-- End Section Title -->
      
        <div class="container">
      
          <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
      
            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
      
              <div class="col-lg-4 col-md-6 blog-item isotope-item filter-branding">
                <div class="blog-content h-100">
                  <img src="{% static 'img/portfolio/app-1.jpg' %}" class="img-fluid" alt="">
                  <div class="blog-info">
                    <h4>Blog 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End blog Item -->
      
              <div class="col-lg-4 col-md-6 blog-item isotope-item filter-books">
                <div class="blog-content h-100">
                  <img src="{% static 'img/portfolio/app-2.jpg' %}" class="img-fluid" alt="">
                  <div class="blog-info">
                    <h4>Blog 2</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End blog Item -->
      
              <div class="col-lg-4 col-md-6 blog-item isotope-item filter-app">
                <div class="blog-content h-100">
                  <img src="{% static 'img/portfolio/app-3.jpg' %}" class="img-fluid" alt="">
                  <div class="blog-info">
                    <h4>Blog 3</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End blog Item -->
      
              <div class="col-lg-4 col-md-6 blog-item isotope-item filter-product">
                <div class="blog-content h-100">
                  <img src="{% static 'img/portfolio/books-1.jpg' %}" class="img-fluid" alt="">
                  <div class="blog-info">
                    <h4>Blog 4</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End blog Item -->
      
              <div class="col-lg-4 col-md-6 blog-item isotope-item filter-branding">
                <div class="blog-content h-100">
                  <img src="{% static 'img/portfolio/books-2.jpg' %}" class="img-fluid" alt="">
                  <div class="blog-info">
                    <h4>Blog 5</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End blog Item -->
      
              <div class="col-lg-4 col-md-6 blog-item isotope-item filter-books">
                <div class="blog-content h-100">
                  <img src="{% static 'img/portfolio/books-3.jpg' %}" class="img-fluid" alt="">
                  <div class="blog-info">
                    <h4>Blog 6</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                    <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End blog Item -->
      
            </div><!-- End blog Container -->
      
          </div>
      
        </div>
      
      </section>

      <!-- interests Section -->
    <section id="Interests" class="interests section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>My Interests</h2>
        <p>I have a diverse range of interests that keep me engaged and inspired.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 interest-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
            <div>
              <h4 class="title stretched-link">Programming</h4>
              <p class="description">I am passionate about coding and enjoy solving complex problems through programming. Whether it's developing web applications or exploring new technologies, programming is a constant source of learning and satisfaction for me.</p>
            </div>
          </div>
          <!-- End interest Item -->

          <div class="col-lg-4 col-md-6 interest-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
            <div>
              <h4 class="title stretched-link">Physics</h4>
              <p class="description">With a background in Physics, I find the subject fascinating. The principles and theories of physics help me understand the world better and stimulate my curiosity about how things work.</p>
            </div>
          </div><!-- End interest Item -->

          <div class="col-lg-4 col-md-6 interest-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
            <div>
              <h4 class="title stretched-link">Chess</h4>
              <p class="description">Chess is one of my favorite pastimes. The strategic thinking and foresight required in the game help sharpen my mind and improve my problem-solving skills. I love participating in chess competitions and continuously honing my skills.</p>
            </div>
          </div><!-- End interest Item -->

          <div class="col-lg-4 col-md-6 interest-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
            <div>
              <h4 class="title stretched-link">Backpacking and Travelling</h4>
              <p class="description">Exploring new places and experiencing different cultures is something I cherish. Backpacking allows me to connect with nature, meet new people, and create unforgettable memories.</p>
            </div>
          </div><!-- End interest Item -->

          <div class="col-lg-4 col-md-6 interest-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
            <div>
              <h4 class="title stretched-link">Watching Movies</h4>
              <p class="description">I enjoy watching movies as a way to relax and unwind. Whether it's an action-packed thriller or a thought-provoking drama, movies offer a great escape and a chance to experience diverse storytelling.</p>
            </div>
          </div><!-- End interest Item -->

          <div class="col-lg-4 col-md-6 interest-item d-flex" data-aos="fade-up" data-aos-delay="600">
            <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
            <div>
              <h4 class="title stretched-link">Eating Food</h4>
              <p class="description">I am a foodie at heart. I love trying out new cuisines and dishes, and I believe that food is an essential part of exploring different cultures. Whether it's a gourmet meal or street food, I'm always excited to try something new.</p>
            </div>
          </div><!-- End interest Item -->

        </div>

      </div>

    </section><!-- /interests Section -->

<!-- Snapshots Section -->
<section id="Snapshots" class="snapshots section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Snapshots of My Life</h2>
    <p>Here, you'll find snippets and highlights of my latest adventures, moments, and everyday life. Enjoy a glimpse into my world through these snapshots.</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="swiper init-swiper">
      <script type="application/json" class="swiper-config">
        {
          "loop": true,
          "speed": 600,
          "autoplay": {
            "delay": 5000
          },
          "slidesPerView": "auto",
          "pagination": {
            "el": ".swiper-pagination",
            "type": "bullets",
            "clickable": true
          },
          "breakpoints": {
            "320": {
              "slidesPerView": 1,
              "spaceBetween": 40
            },
            "1200": {
              "slidesPerView": 3,
              "spaceBetween": 1
            }
          }
        }
      </script>
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="snapshot-item">
            <p>
              <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
            </p>
            <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="snapshot-img" alt="">
          </div>
        </div><!-- End snapshot item -->

        <div class="swiper-slide">
          <div class="snapshot-item">
            <p>
              <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
            </p>
            <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="snapshot-img" alt="">
          </div>
        </div><!-- End snapshot item -->

        <div class="swiper-slide">
          <div class="snapshot-item">
            <p>
              <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
            </p>
            <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="snapshot-img" alt="">
          </div>
        </div><!-- End snapshot item -->

        <div class="swiper-slide">
          <div class="snapshot-item">
            <p>
              <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
            </p>
            <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="snapshot-img" alt="">
          </div>
        </div><!-- End snapshot item -->

        <div class="swiper-slide">
          <div class="snapshot-item">
            <p>
              <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam sunt culpa nulla illum cillum fugiat</span>
            </p>
            <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="snapshot-img" alt="">
          </div>
        </div><!-- End snapshot item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

</section><!-- /snapshots Section -->


    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <form action="#" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Your Name</label>
                  <input type="text" name="name" id="name-field" class="form-control" required="">
                </div>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="subject-field" class="pb-2">Message</label>
                  <input type="text" class="form-control" name="subject" id="subject-field" required="">
                </div>


                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main><!-- End #main -->

  <footer id="footer" class="footer position-relative">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Abros3006</strong> <span>All Rights Reserved</span></p>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->

  <script src="{% static 'path/to/swiper-bundle.min.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var swiper = new Swiper('.swiper', JSON.parse(document.querySelector('.swiper-config').textContent));
    });
  </script>
  
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
