{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Abros3006</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '../static/img/Fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '../static/img/Fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '../static/img/Fav/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '../static/img/Fav/site.webmanifest' %}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>

  <header id="header" class="header d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="{% static 'img/profile.jpg' %}" alt="Profile Image" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="{% static 'img/logo.png' %}" alt=""> -->
      <h1 class="sitename">Atharva Bangle</h1>
    </a>

    <div class="social-links text-center">
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/in/atharva-bangle/" class="linkedin"><i class="bi bi-linkedin"></i></a>
      <a href="https://github.com/Abros3006" class="github"><i class="bi bi-github"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">
            <i class="bi bi-house navicon"></i>Home
          </a>
        </li>
        <li>
          <a href="{% url 'resume' %}" class="{% if request.path == '/resume/' %}active{% endif %}">
            <i class="bi bi-file-person navicon"></i>Resume
          </a>
        </li>
        <li>
          <a href="{% url 'blog' %}" class="{% if request.path == '/blog/' %}active{% endif %}">
            <i class="bi bi-file-earmark-text navicon"></i>Blog
          </a>
        </li>
        <li>
          <a href="{% url 'snapshots' %}" class="{% if request.path == '/snapshots/' %}active{% endif %}">
            <i class="bi bi-camera navicon"></i>Snapshots
          </a>
        </li>
        <li>
          <a href="{% url 'home' %}#contact">
            <i class="bi bi-envelope navicon"></i>Contact
          </a>
        </li>
    
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">
              <i class="bi bi-box-arrow-right navicon"></i>Logout
            </a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'login' %}">
              <i class="bi bi-box-arrow-in-right navicon"></i>Login
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>

  </header>


  <main class="main">
    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Innovative and deadline-driven Software Developer with hands-on experience in developing user-centered web applications from initial concept to final, polished deliverable. Strong analytical and problem-solving skills with a solid foundation in computer science.</p>
      </div><!-- End Section Title -->

      <!-- Skills Section -->
      <section id="skills" class="skills section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Skills</h2>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

          <div class="row skills-content skills-animation">

            <div class="col-lg-6">

              <div class="progress">
                <span class="skill"><h6><strong>Languages: </strong>C++, Python, Java, JavaScript, PHP</h6></span>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><h6><strong>Tools and Libraries: </strong>Firebase, Git, React</h6></span>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><h6><strong>Frameworks: </strong>Django, Flask</h6></span>
              </div><!-- End Skills Item -->

            </div>

            <div class="col-lg-6">

              <div class="progress">
                <span class="skill"><h6><strong>Web Development: </strong>HTML, CSS, Bootstrap, Tailwind, Saas</h6></span>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><h6><strong>Database Management: </strong>MongoDB, MySQL, PostgreSQL</h6></span>
              </div><!-- End Skills Item -->

            </div>

          </div>

        </div>

      </section><!-- /Skills Section -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Summary</h3>

            <div class="resume-item pb-0">
              <h4>Atharva Bangle</h4>
              <p><em>Innovative and deadline-driven Software Developer with hands-on experience in developing user-centered web applications. I have a Strong analytical and problem-solving skills with a solid foundation in computer science.</em></p>
              <ul>
                <li>Pune, India</li>
                <li>Email: atharvabangle@gmail.com</li>
                <li>GitHub: <a href="https://github.com/Abros3006">GitHub Profile</a></li>
              </ul>
            </div><!-- End Resume Item -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Masters in Computer Application</h4>
              <h5>2023 - present</h5>
              <p><em>MIT - World Peace University, Kothrud, Pune</em></p>
              <p>CGPA - 8.05</p>
            </div><!-- End Resume Item -->

            <div class="resume-item pb-0">
              <h4>Bachelors of Physics</h4>
              <h5>2020 - 2023</h5>
              <p><em>Savitribai Phule Pune University, Ganeshkhind, Pune</em></p>
              <p>CGPA - 8.45</p>
            </div><!-- End Resume Item -->

            <h3 class="resume-title">Extracurricular Activities</h3>
            <div class="resume-item">
              <p><em>Lead Student Placement Coordinator at MIT-WPU</em></p>
              <p><em>Professional Chess Player</em></p>
              <p><em>Winner of Coderhunt competition organized by MIT-WPU</em></p>
            </div><!-- End Resume Item -->
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item pb-0">
              <h4>Software Developer Intern</h4>
              <h5>KWMCS Ventures LLP</h5>
              <p><em>May, 2024 - Present</em></p>
              <ul>
                <li>Collaborated with a highly productive team of developers in developing a website.</li>
                <li>Thrived in a fast-paced startup, ensuring efficient product delivery despite tight deadlines.</li>
                <li>Demonstrated expertise in PHP and JavaScript, with hands-on experience in MySQL and PostgreSQL databases and leveraged frontend frameworks such as Bootstrap and Tailwind CSS to enhance user interfaces.</li>
              </ul>
            </div><!-- End Resume Item -->

            <h3 class="resume-title">Projects</h3>
            <div class="resume-item">
              <h4>Open-Source Forum</h4>
              <h5>August-2024</h5>
              <p><em>Developed a full-stack open-source forum platform using Python, Django, React, and other technologies, featuring 20+ key components. Created an engaging user experience with 25+ screens, utilizing Python for server-side rendering and React for frontend functionality.</em></p>
            </div><!-- End Resume Item -->

            <div class="resume-item">
              <h4>Chess Engine Using Deep Learning</h4>
              <h5>May-2024</h5>
              <p><em>Developed a chess engine using deep learning, achieving 70% move prediction accuracy compared to Stockfish. Implemented MinMax Algorithm and optimized operations, reducing average move computation time by 70%.</em></p>
            </div><!-- End Resume Item -->

          </div>
        </div>
      </div>
    </section><!-- End Resume Section -->

    <footer id="footer" class="footer position-relative">

      <div class="container">
        <div class="copyright text-center ">
          <p>Copyright © Atharva Bangle 2024</p>
        </div>
      </div>
  
    </footer>

  </main><!-- End #main -->

  

    <!-- Preloader -->
    <div id="preloader"></div>

  <!-- Vendor JS Files -->
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
