<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="flex flex-col items-center pt-5 bg-black">
        <div
          class="flex gap-5 justify-center w-full text-2xl font-semibold text-white max-w-[1329px] max-md:flex-wrap max-md:max-w-full"
        >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/55e8d82b8d89d99731d3fe0059476dc34c538fbe7aa3b76e9fc4abbff4a44a0d?"
            class="shrink-0 max-w-full aspect-square w-[107px]"
          />
          <div
            class="flex gap-5 justify-center items-center px-5 my-auto max-md:flex-wrap"
          >
            <div class="self-stretch my-auto font-bold text-green-500">Home</div>
            <div class="self-stretch my-auto">Save</div>
            <div class="self-stretch my-auto">Travel</div>
            <div class="self-stretch my-auto">Experience</div>
            <div class="self-stretch my-auto">Wallet</div>
            <div
              class="justify-center self-stretch px-6 py-2.5 font-black rounded-xl border border-white border-solid max-md:px-5"
            >
              Contact Us
            </div>
          </div>
        </div>
        <div class="mt-7 w-full max-w-[1317px] max-md:max-w-full">
          <div class="flex gap-5 max-md:flex-col max-md:gap-0">
            <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
              <div
                class="flex z-10 flex-col self-stretch px-5 my-auto text-2xl text-white max-md:mt-10 max-md:max-w-full"
              >
                <div
                  class="text-6xl font-black tracking-[2.16px] max-md:max-w-full max-md:text-4xl"
                >
                  <span class="text-green-500">SAVING</span>
                  <span class="">YOUR MONEY FOR TRAVEL THROUGH TRAVEL FUND</span>
                </div>
                <div class="mt-5 font-bold max-md:max-w-full">
                  Save your money for travel securely and explore the whole world with
                  trasave, we provide you the best travel services.
                </div>
                <div
                  class="flex gap-5 mt-16 font-extrabold tracking-wider max-md:flex-wrap max-md:mt-10"
                >
                  <div
                    class="grow justify-center px-10 py-4 rounded-xl border border-white border-solid shadow-sm w-fit max-md:px-5"
                  >
                    Save now
                  </div>
                  <div
                    class="grow justify-center px-10 py-4 rounded-xl border border-white border-solid w-fit max-md:px-5"
                  >
                    UI/UX Case Study
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
              <img
                loading="lazy"
                srcset="..."
                class="grow w-full aspect-[0.93] max-md:max-w-full"
              />
            </div>
          </div>
        </div>
        <div
          class="mt-32 text-6xl italic font-black text-right text-green-500 max-md:mt-10 max-md:max-w-full max-md:text-4xl"
        >
          <span class="">Why to</span>
          <span class="italic text-green-500">travel</span>
          <span class="">with us?</span>
        </div>
        <div
          class="mt-7 text-2xl font-semibold text-center text-white w-[1128px] max-md:max-w-full"
        >
          Ambitious about your next adventure but sick of saving money? End up
          sneaking into those savings because well. You’re bored? Lost motivation? You
          don’t feel the funds are growing fast enough? Saving just sucks? Trasave has
          introduced an epic new way to reward you for your savings for travel
        </div>
        <div class="px-5 mt-14 max-w-full w-[1025px] max-md:mt-10">
          <div class="flex gap-5 max-md:flex-col max-md:gap-0">
            <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
              <div
                class="flex flex-col grow justify-center px-8 py-16 font-semibold text-white max-md:px-5 max-md:mt-10"
              >
                <img
                  loading="lazy"
                  srcset="..."
                  class="self-center max-w-full aspect-square w-[100px]"
                />
                <div class="mt-2.5 text-4xl italic">
                  Save
                  <span class="italic">money</span>
                </div>
                <div class="mt-2.5 text-2xl text-center">
                  Invest in trasave securily for future
                </div>
              </div>
            </div>
            <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
              <div
                class="flex flex-col grow justify-center px-8 py-16 font-semibold text-white shadow-sm rounded-[50px] max-md:px-5 max-md:mt-10"
              >
                <img
                  loading="lazy"
                  srcset="..."
                  class="self-center max-w-full aspect-square w-[100px]"
                />
                <div class="mt-2.5 text-4xl italic">
                  Earn
                  <span class="italic">rewards</span>
                </div>
                <div class="mt-2.5 text-2xl text-center">
                  Earn rewards and track your money
                </div>
              </div>
            </div>
            <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
              <div
                class="flex flex-col grow justify-center px-9 py-16 font-semibold text-white shadow-sm rounded-[50px] max-md:px-5 max-md:mt-10"
              >
                <img
                  loading="lazy"
                  srcset="..."
                  class="self-center max-w-full aspect-square w-[100px]"
                />
                <div class="mt-2.5 text-4xl">
                  <span class="italic">Travel</span>
                  Global
                </div>
                <div class="mt-2.5 text-2xl text-center">
                  Use this money for your travelling
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex overflow-hidden relative flex-col justify-center items-center self-stretch px-16 py-20 mt-20 w-full text-white min-h-[859px] max-md:px-5 max-md:mt-10 max-md:max-w-full"
        >
          <img
            loading="lazy"
            srcset="..."
            class="object-cover absolute inset-0 size-full"
          />
          <div
            class="flex relative gap-5 justify-center mt-28 mb-8 w-full max-w-[1314px] max-md:flex-wrap max-md:mt-10 max-md:max-w-full"
          >
            <div
              class="flex flex-col self-end mt-48 text-6xl font-extrabold max-md:mt-10 max-md:max-w-full max-md:text-4xl"
            >
              <div class="shrink-0 bg-green-500 h-[7px] w-[147px]"></div>
              <div class="mt-7 max-md:max-w-full max-md:text-4xl">
                Save your travel money in Trasave and get top grade security with us
              </div>
            </div>
            <div class="text-2xl font-semibold max-md:max-w-full">
              There are so many benefits of travelling with Trasave. Not only do we
              provide you with an awesome digital travel solution , an awesome travel
              app, but we also make it super easy and fun for you to store, save and
              move your travel money.
              <br />
              <br />
              As well as saving money, the TRASAVE travel fund is a good way to track
              your travel money. Tracking Expenses is important when travelling as you
              don’t want to be stuck in the middle of your journey budgeting your
              travel. We created the travel fund so you can store all your travel
              money and then track your money from your travel fund expense tracker.
            </div>
          </div>
        </div>
        <div
          class="flex overflow-hidden relative flex-col items-center self-stretch px-16 pt-4 pb-7 mt-24 w-full min-h-[460px] max-md:px-5 max-md:mt-10 max-md:max-w-full"
        >
          <img
            loading="lazy"
            srcset="..."
            class="object-cover absolute inset-0 size-full"
          />
          <div class="flex relative flex-col w-full max-w-[1297px] max-md:max-w-full">
            <div class="max-md:max-w-full">
              <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                <div class="flex flex-col w-[26%] max-md:ml-0 max-md:w-full">
                  <div
                    class="flex flex-col grow items-start text-2xl font-semibold text-white max-md:mt-10"
                  >
                    <img
                      loading="lazy"
                      srcset="..."
                      class="max-w-full aspect-[0.78] w-[114px]"
                    />
                    <div class="self-stretch mt-5">
                      TRASAVE travel fund is a good way to track your travel money.
                    </div>
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/b5d8476d73e38fb5c1d44a8f1d5fccb0539c1af90435ac2f655f0ade2c00200e?"
                      class="mt-5 max-w-full aspect-[4.76] w-[175px]"
                    />
                  </div>
                </div>
                <div class="flex flex-col ml-5 w-[18%] max-md:ml-0 max-md:w-full">
                  <div class="flex flex-col mt-14 text-2xl text-white max-md:mt-10">
                    <div class="text-3xl font-extrabold text-center text-green-500">
                      About
                    </div>
                    <div class="mt-5 text-center">• Technical Info</div>
                    <div class="mt-5">• Other Products</div>
                  </div>
                </div>
                <div class="flex flex-col ml-5 w-[17%] max-md:ml-0 max-md:w-full">
                  <div
                    class="flex flex-col self-stretch my-auto text-2xl text-center text-white max-md:mt-10"
                  >
                    <div class="text-3xl font-extrabold text-green-500">
                      Contact Us
                    </div>
                    <div class="mt-5">Bengaluru, India</div>
                    <div class="mt-5">80030 10108</div>
                    <div class="mt-5">hr@curlistic.com</div>
                  </div>
                </div>
                <div class="flex flex-col ml-5 w-[39%] max-md:ml-0 max-md:w-full">
                  <div
                    class="flex flex-col justify-center mt-14 text-center max-md:mt-10"
                  >
                    <div
                      class="self-center text-3xl font-black leading-8 text-green-500"
                    >
                      <span class="font-extrabold">Subscribe</span>
                      <span class="font-extrabold text-green-500">Newsletter</span>
                    </div>
                    <div
                      class="flex gap-5 py-3 pr-2 pl-8 mt-6 text-lg bg-white rounded-lg max-md:pl-5"
                    >
                      <div class="flex-auto my-auto text-neutral-400">
                        Enter your email
                      </div>
                      <div
                        class="justify-center px-4 py-3 font-bold text-white whitespace-nowrap bg-green-500 rounded-lg"
                      >
                        Subscribe
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="self-center mt-20 text-xl font-bold text-center text-white max-md:mt-10"
            >
              Copright 2022 Curlistic. All right reserved.
            </div>
          </div>
        </div>
      </div>
</body>
</html>