<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - iPortfolio Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body>

  <header id="header" class="header d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="assets/img/my-profile-img.jpg" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">Atharva Bangle</h1>
    </a>

    <div class="social-links text-center">
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="index.html" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="resume.html"><i class="bi bi-person navicon"></i>Resume</a></li>
        <li><a href="blog.html"><i class="bi bi-file-earmark-text navicon"></i>Blog</a></li>
        <li><a href="highlights_of_My_Journey.html"><i class="bi bi-hdd-stack navicon"></i>Highlights of My Journey</a></li>
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i>Contact</a></li>
      </ul>
    </nav>

  </header>


  <main class="main">
     <!-- Resume Section -->
 <section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
      <p>Innovative and deadline-driven Software Developer with hands-on experience in developing user-centered web applications from initial concept to final, polished deliverable. Strong analytical and problem-solving skills with a solid foundation in computer science.</p>
    </div><!-- End Section Title -->

  <!-- Skills Section -->
  <section id="skills" class="skills section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Skills</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row skills-content skills-animation">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill"><h6><strong>Languages: </strong>C++, Python, Java, JavaScript, PHP<h6>
          </div><!-- End Skills Item -->

          <div class="progress">
            <span class="skill"><h6><strong>Tools and Libraries: </strong>AJAX, React.js</h6>
          </div><!-- End Skills Item -->

          <div class="progress">
            <span class="skill"><h6><strong>Frameworks: </strong>Django, Laravel</h6>
          </div><!-- End Skills Item -->

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill"><h6><strong>Web Development: </strong>HTML, CSS, Bootstrap, Tailwind</h6>
          </div><!-- End Skills Item -->

          <div class="progress">
            <span class="skill"><h6><strong>Database Management: </strong>MongoDB, MySQL, PostgreSQL</h6>
          </div><!-- End Skills Item -->

        </div>

      </div>

    </div>

  </section><!-- /Skills Section -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Sumary</h3>

          <div class="resume-item pb-0">
            <h4>Atharva Bangle</h4>
            <p><em>Innovative and deadline-driven Software Developer with hands-on experience in developing user-centered web applications. I have a Strong analytical and problem-solving skills with a solid foundation in computer science.</em></p>
            <ul>
              <li>Pune, India</li>
              <li>Email: atharvabangle@gmail.com</li>
              <li>GitHub: GitHub Profile</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Master in Computer Application</h4>
            <h5>2023 - present</h5>
            <p><em>MIT - World Peace University, Kothrud, Pune</em></p>
            <p>CGPA - 7.6</p>
          </div><!-- Edn Resume Item -->

          <div class="resume-item pb-0">
            <h4>Bachelor of Physics</h4>
            <h5>2020 - 2023</h5>
            <p><em>Savitribai Phule Pune University, Ganeshkhind, Pune</em></p>
            <p>CGPA - 8.45</p>
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">Extracurricular Activities</h3>
          <div class="resume-item">
            <p><em>Lead Student Placement Coordinator at MIT-WPU</em></p>
            <p><em>Professional Chess Player</em></p>
            <p><em>Winner of Coderhunt competition organized by MIT-WPU</em></p>
          </div><!-- Edn Resume Item -->
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item pb-0">
            <h4>Software Developer Intern</h4>
            <h5>May, 2024 - Present</h5>
            <p><em>Remote</em></p>
            <ul>
              <li>Collaborated with a highly productive team of developers in developing a website.</li>
              <li>Thrived in a fast-paced startup, ensuring efficient product delivery despite tight deadlines.</li>
              <li>Demonstrated expertise in PHP and JavaScript, with hands-on experience in MySQL and PostgreSQL databases and leveraged frontend frameworks such as Bootstrap and Tailwind CSS to enhance user interfaces.</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">Projects</h3>
          <div class="resume-item">
            <h4>E-commerce Website</h4>
            <h5>December-2023</h5>
            <p><em>Technologies: Django, Python, Tailwind, React</em></p>
            <p>Created a E-commerce website with authentication, cloud functions, security rules, and transactions. Conducted thorough testing to ensure project reliability and addressed potential security vulnerabilities.</p>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>September-2023</h4>
            <p><em>Technologies: React, Python, Chakra UI, Firebase</em></p>
            <p>Developed a full-stack Reddit-like platform with features such as user authentication, post creation, comment threading, upvotes, and subreddit creation. Leveraged Python for server-side rendering and React for a dynamic website.</p>
          </div><!-- Edn Resume Item -->

        </div>

      </div>

    </div>

  </section><!-- /Resume Section -->
</main>

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/typed.js/typed.umd.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
</html>